@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}
body{
    background: #dde1e7;
    display: grid;
  place-items: center;
  text-align: center;
  height: 100%;
}
html{
    scroll-behavior: smooth;
   
}
.signup-container{
    width: 430px;
  background: #dde1e7;
  margin-top: 40px;
  border-radius: 10px;
  padding: 40px 30px;
  box-shadow: -3px -3px 7px #ffffff73,
              2px 2px 5px rgba(94, 104, 121, 0.288);
}
.form-content{
    height: 50px;
  width: 100%;
  display: flex;
  position: relative;
 margin-top: 15px;
}
.form-content input{
    height: 100%;
  width: 100%;
  padding-left: 45px;
  font-size: 18px;
  outline: none;
  border: none;
  color: #595959;
  background: #dde1e7;
  border-radius: 25px;
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73;
}
.form-content span{
position: absolute;
  width: 50px;
  line-height: 50px;
  color: #595959;
}
  .terms{
    display: flex;
    margin-top: 15px;
    margin-left: 5px;
  }
  .terms span{
      margin-top: 20px;
      color:rgb(33, 33, 65);
 }
 .login-btn{
    box-shadow: 2px 2px 5px #babecc,
    -5px -5px 10px #ffffff73;
    height: 50px;
  margin-top: 30px;
  width: 100%;
  height: 50px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  background: #dde1e7;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 25px;
 }
 .login-btn a{
    margin: 25px 0 0 0;
     font-size: 18px;
     color: #000;
     line-height: 2.5;
 }
 .account{
     margin-top: 15px;
     font-size: 14px;
 }
.avatar img{
     height: 80px;
     border-radius: 50%;
     box-shadow: -3px -3px 7px #ffffff73,
     2px 2px 5px rgba(94, 104, 121, 0.288);
 }
 .avatar span{  
     color: rgb(60, 60, 94)
 }