@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,600;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #dde1e7;
}
.main-heading {
    text-align: center;
    margin-top: 200px;
}
.inside-heading h1{
    font-size: 50px;
}
.inside-heading span{
    font-size: 70px;
    color: rgb(22, 22, 68);
}
.main-heading img{
    display: none;
}
.letsstarted{
    text-align: center;
    margin-top: 20px;
}
.letsstarted a{
    background: rgb(22, 22, 68);
    position: absolute;
    padding: 10px 20px;
    color: #e5e5e5;
}
@media(max-width:480px){

    .main-heading {
        height: 100%;
        margin-top: 10px;
        text-align: center;
    }
    .inside-heading{
        margin-top: 150px;
        padding: 10px 0px;
        line-height: 2;
    }
    .inside-heading h1{
        font-size: 30px;
       color:black;
    }
    .inside-heading span{
        font-size: 50px;
        color:rgb(22, 22, 68);
    }
    .inside-heading p{
        color: black;
        font-weight: bolder;
    }
    .letsstarted{
        margin-top: 30px;
        text-align: justify;
        margin-left: 180px;
    }
    .letsstarted a{
        background: rgb(22, 22, 68);
        padding: 10px 20px;
        color: #e5e5e5;
    }
}