@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #dde1e7;
}
.pa h6{
    padding: 5px;
    font-size: 20px;
    font-weight: normal;
}
.akira p{
    color: rgb(22, 22, 68);
    letter-spacing: 16px;
    font-size: 15px;
}
.main-heading {
    text-align: center;
    margin-top: 150px;
}
.pa p{
    visibility: hidden;
}
.inside-heading h1{
    font-size: 100px;
    letter-spacing: 10px;
    color:rgb(22, 22, 68);
}
.inside-heading h1{
    font-size: 100px;
    letter-spacing: 10px;
    color:rgb(22, 22, 68);
}

.main-heading img{
    display: none;
}
.letsstarted{
    text-align: center;
    margin-top: 40px;
}
.letsstarted a{
    font-weight: bolder;
    color: rgb(22, 22, 68);
    text-align: center;
    box-shadow: -3px -3px 7px #ffffff73,                 
    2px 2px 5px rgba(94, 104, 121, 0.288);
    padding: 10px 10px;
}
@media(max-width:480px){
    body{
        background: #E0E4E7;
    }
    .pa h6{
        visibility: hidden;
    }
    .main-heading {
        height: 100%;
        margin-top: 150px;
        text-align: center;
    }
    .inside-heading{
        margin-top: 160px;
        padding: 50px 0px;
    }
    .akira p{
        color: rgb(56, 56, 112);
        letter-spacing: 5px;
        font-size: 15px;
    }
    .inside-heading h1{
        margin-top: 10px;
        font-size: 50px;
        color: rgb(22, 22, 68);
    }
    .pa p{
        visibility: visible;
        padding: 20px;
        color: rgb(22, 22, 68)  ;
    }
    .letsstarted{
        margin-top: 0px;
        
    }
    .letsstarted a{
        box-shadow: -3px -3px 7px #ffffff73,                 
        2px 2px 5px rgba(94, 104, 121, 0.288);
        padding: 15px 20px;
        font-weight: bolder;
        color:rgb(22, 22, 68);
    }
}
@media(max-width:360px){
    .letsstarted{
        margin-top: -160px;
    }
    .inside-heading h1{
        font-size: 35px;
       
    }
}
@media(max-width:380px){
    .letsstarted{
        margin-top: -160px;
    }
    .inside-heading h1{
        margin-top: 10px;
        font-size: 40px;
        color: rgb(22, 22, 68);
    }
}
@media(max-width:411px){
    .letsstarted{
        margin-top: -160px;
    }
    .inside-heading h1{
        margin-top: 10px;
        font-size: 40px;
        color: rgb(22, 22, 68);
    }
}
@media(max-width:414px){
    .letsstarted{
        margin-top: -160px;
    }
    .inside-heading h1{
        font-size: 40px;
       
    }
}
@media(max-width:480px){
    .letsstarted{
        margin-top: -160px;
    }
    .inside-heading h1{
        font-size: 45px;
       
    }
}
@media(max-width:540px){
    .letsstarted{
        margin-top: 30px;
    }
    .inside-heading h1{
        font-size: 50px;
       
    }
}
@media(max-width:601px){
    .letsstarted{
        margin-top: 30px;
    }
    .akira p{
        font-size: 30px;
        padding: 50px;
    }
    .inside-heading h1{
        font-size: 60px;
    }
    .pa{
        padding: 0px;
    }
}