@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100;0,300;0,400;0,600;0,700;0,900;1,100;1,300;1,600;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background:#000;
}
.akira p{
    color: rgb(142, 142, 180);
    letter-spacing: 10px;
    font-size: 15px;
}
.main-heading {
    text-align: center;
    margin-top: 150px;
}
.main-heading p{
    color: rgb(142, 142, 180);
}
.inside-heading h1{
    font-size: 50px;
    color: #e5e5e5;
}

.main-heading img{
    display: none;
}
.letsstarted{
    text-align: center;
    margin-top: 40px;
}
.letsstarted a{
    text-align: center;
    box-shadow: -3px -3px 7px #ffffff73,                 
    2px 2px 5px rgba(94, 104, 121, 0.288);
    padding: 10px 10px;
    color: rgb(142, 142, 180);
}
@media(max-width:480px){
    body{
        background: #E0E4E7;
    }

    .main-heading {
        height: 100%;
        margin-top: 150px;
        text-align: center;
    }
    .inside-heading{
        margin-top: 250px;
        padding: 90px 0px;
    }
    .akira p{
        color: rgb(56, 56, 112);
        letter-spacing: 5px;
        font-size: 15px;
    }
    .inside-heading h1{
        margin-top: 10px;
        font-size: 50px;
        color: rgb(22, 22, 68);
    }
    .pa p{
        padding: 20px;
        color: rgb(22, 22, 68)  ;
    }
    .letsstarted{
        margin-top: 20px;
        
    }
    .letsstarted a{
        box-shadow: -3px -3px 7px #ffffff73,                 
        2px 2px 5px rgba(94, 104, 121, 0.288);
        padding: 15px 20px;
        font-weight: bolder;
        color:rgb(22, 22, 68);
    }
}