@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background: #dde1e7;
}
html{
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
.previous-btn{
    position: absolute;
    justify-content: space-around;
    margin-top: 10px;
    padding: 10px;
   width: 100%;
   display: flex;
}
.previous-btn a{

    padding: 10px 10px;
    font-size: 30px;
    background-color: rgb(60, 60, 94);
    color: #dde1e7;
}
.loops-container{
    margin-top: 130px;	
}
.loops-container h1{
    color: rgb(60, 60, 94);
    text-align: center;
}
.loops-content{
    margin-top: 100px;
}
.loops-content{
    line-height: 3;
    margin: 50px;
    border-radius: 10px;
    margin-top: 70px;
    line-height: 2;
    padding: 50px 70px;
    box-shadow: inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #ffffff73;
    background-color: #dde1e7;
}
.loops-content h3{
    color: rgb(60, 60, 94);
    text-decoration: underline;
    font-size:23px;
}
.more{
    text-align: center;
    margin-top: 30px;
	margin-bottom:40px;
}
.more a{
    padding: 10px 30px;
    background-color: rgb(60, 60, 94);
    color: #dde1e7;
}
@media (max-width:858px)
{
    .loops-content{
        padding: 0px 10px;
        margin: 10px;
    }
    .previous-btn{
        justify-content: space-between;
        margin-top: -110px;
         padding: 10px 30px;
       display: flex;
       align-items: center;
    }
    .previous-btn a{
        padding: 7px 7px;
    }
	.more{
    text-align: center;
    margin-top: 50px;
	margin-bottom:40px;
    }
	
}




