@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: disc;
}
body{
    background: #dde1e7;
}

html{
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;

}
 .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0; right:0;
    padding:1rem 9%;
    z-index: 1000;    
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,
     2px 2px 5px rgba(94, 104, 121, 0.288);
}
.header .logo{
    font-size: 2rem;
    color: black;
    font-weight: bold;
}
.header .logo span{
    color: rgb(60, 60, 94)
}
.header .navbar {
    margin: 0px 40px;
}
.header .navbar a{
    margin:0 1rem;
    font-size: 1rem;
    color: rgb(60, 60, 94);
}
.log a{
    background-color: rgb(60, 60, 94);
    padding: 10px 40px;
    color: #dde1e7;
}
.question{
    margin-top: 80px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 60px;
    background: black;
}
.que-container h1{
    color: #dde1e7;
    text-align: center;
}
.ans{
    padding: 40px;
}
.inside-ans li{
    margin-top: 20px;
    margin-left: 50px;
}
#login-btn a{
    display: none;
    font-size: 2.5rem;
}
#menu-btn{
    font-size: 2rem;
    display: none;
}
.btnss{
    margin-top: 100px;
    margin-bottom: 100px;
}
.btnss a{
    padding: 10px 30px;
    background-color: black;
    color: #dde1e7;
}
.btnsss{
    margin-bottom: 50px;
    margin-top: 50px;
}
.btnsss i{
    font-size: 40px;
    color: teal;
}

@media (max-width:858px)
{
    .header .logo{
        text-align: center;
        margin-left: 30px;
    }
    .log a{
        display: none;
    }
    #menu-btn{
        display: block;
    }
    #menu-btn.fa-times{
        transform:rotate(180deg);
    }
    #login-btn .btn{
        display: none;
    }
    #login-btn a{
        display: block;
        font-size: 30px;
        color: rgb(60, 60, 94);
    }
    .header .navbar{
        position: absolute;
        top:80%; left:0; right:0;
        background:rgb(60, 60, 94);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a{
        margin:2rem;
        border-bottom: 1px solid #dde1e7;
        display: block;
        font-size: 2rem;
        color: #dde1e7;
    }
    .question{
        padding: 50px;
        margin-top: 80px;
        margin-right: 10px;
        margin-left: 2px;
        background: black;
    }
    .que-container h1{
        font-size: 30px;
    }
    .ans{
        box-shadow: inset 2px 2px 5px #babecc,
        inset -5px -5px 10px #ffffff73;
        margin: 5px;
    }
    .inside-ans li{
        margin-top: 10px;
        margin-left: 5px;
    }
    .inside-ans h1{
        font-size: 25px;
        color:teal;
    }
    .btnsss{
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .btnsss i{
        font-size: 40px;
        color: teal;
    }
    
}
