@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background: #dde1e7;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; left:0; right:0;
    padding:1rem 9%;
    z-index: 1000;    
    background: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,
     2px 2px 5px rgba(94, 104, 121, 0.288);
}
.header .logo{
    font-size: 2rem;
    color: black;
    font-weight: bold;
}
.header .logo span{
    color: rgb(60, 60, 94)
}
.header .navbar {
    margin: 0px 20px;
}
.header .navbar a{
    margin:0 0.2rem;
    font-size: 1rem;
    color: rgb(60, 60, 94);
}
.log a{
    background-color: rgb(60, 60, 94);
    padding: 10px 40px;
    color: #dde1e7;
}
.content-section{
    margin-top:140px;
    text-align: center;
    color: rgb(60, 60, 94);
    font-size: 15px;
    display: block;
}
.inside-content{
    text-align: center;
    margin-left:430px;
    width: 500px;
    height: 980px;
    display: block;
    padding: 10px 40px;
    margin-top: 40px;
    background-color: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94, 104, 121, 0.288);
}
.inside-content h3{
    font-size: 30px;
    color: rgb(60, 60, 94);
}
.info-content{
    margin-top: 18px;
    line-height: 3;
    box-shadow: inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #ffffff73;
    border-radius: 10px;
    text-align: justify;
    padding: 0px 30px;
}
.info-content a{
    font-size: 19px;
}
.info-content img{
    height: 15px;
}
.back{
    margin-top: 50px;
}
.back a{
    padding: 10px 40px;
    background-color: rgb(60, 60, 94);
    color: #dde1e7;
    border-radius: 10px;
}
#login-btn a{
    display: none;
    font-size: 2.5rem;
}
#menu-btn{
    font-size: 2rem;
    display: none;
}

@media (max-width:858px)
{
    .header .logo{
        text-align: center;
        margin-left: 30px;
        font-size: 23px;
    }
    .log a{
        display: none;
    }
    #menu-btn{
        display: block;
        font-size: 25px;
        color: #dde1e7;
        padding: 7px;
        background-color: rgb(60, 60, 94);
    }
    #menu-btn.fa-times{
        transform:rotate(180deg);
    }
    #login-btn .btn{
        display: none;
    }

    #login-btn a{
        display: block;
        font-size: 30px;
        color: rgb(60, 60, 94);
    }
    .header .navbar{
        position: absolute;
        top:100%; left:-10%; right:20%;
        background:rgb(60, 60, 94);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        padding-top: 60px;
        
    }
    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    .header .navbar a{
        margin:3rem;
        letter-spacing: 2px;
        display: block;
        font-size: 17px;
        color: #dde1e7;

    }
    .inside-content{
        text-align: center;
        margin-left:0px;
        width: 420px;
        height: 900px;
        padding: 0px 9px;
    }
    .info-content{
        padding: 0px 19px;
    }
    .back{
        margin-top: 60px;
        text-align: center;
        margin-bottom: 50px;
    }
}
@media (max-width:768px)
{
    .header .logo{
        text-align: center;
        margin-left: 90px;
        font-size: 40px;
    }
    .header .navbar{
        position: absolute;
        top:100%; left:-4%; right:-3%;
        background:rgb(60, 60, 94);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        padding-top: 0px;
        
    }
    .inside-content{
        text-align: center;
        margin:30px;
        width: 700px;
        height: 900px;
        padding: 0px 9px;
    }
}
@media (max-width:601px)
{
    .header .logo{
        text-align: center;
        margin-left: 80px;
        font-size: 35px;
    }
    .header .navbar{
        position: absolute;
        top:100%; left:-4%; right:-3%;
        background:rgb(60, 60, 94);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        padding-top: 0px;
    }
    .inside-content{     
        margin:22px;
        width: 550px;
        height: 900px;
    }
}
@media (max-width:540px)
{
    .header .logo{
        text-align: center;
        margin-left: 80px;
        font-size: 35px;
    }
    .header .navbar{
        position: absolute;
        top:100%; left:-4%; right:-3%;
        background:rgb(60, 60, 94);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        padding-top: 0px;
    }
    .inside-content{     
        margin:22px;
        width: 490px;
        height: 900px;
    }
}

@media (max-width:480px)
{
    .header .logo{
        text-align: center;
        margin-left: 50px;
        font-size: 30px;
    }
    .header .navbar{
        position: absolute;
        top:100%; left:-4%; right:-3%;
        background:rgb(60, 60, 94);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        padding-top: 0px;
    }
    .inside-content{     
        margin:20px;
        width: 440px;
        height: 900px;
    }
}
@media (max-width:414px)
{
    .header .logo{
        text-align: center;
        margin-left: 30px;
        font-size: 30px;
    }
    .header .navbar{
        position: absolute;
        top:100%; left:-4%; right:-3%;
        background:rgb(60, 60, 94);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        padding-top: 0px;
    }
    .inside-content{     
        margin:18px;
        width: 380px;
        height: 900px;
    }
    .inside-content h3{
        font-size: 25px;
    }
}
@media (max-width:411px)
{
    .header .logo{
        text-align: center;
        margin-left: 30px;
        font-size: 30px;
    }
    .header .navbar{
        position: absolute;
        top:100%; left:-4%; right:-3%;
        background:rgb(60, 60, 94);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        padding-top: 0px;
    }
    .inside-content{     
        margin:14px;
        width: 380px;
        height: 900px;
    }
    .inside-content h3{
        font-size: 25px;
    }
}
@media (max-width:380px)
{

    .inside-content{     
        margin:14px;
        width: 350px;
        height: 900px;
    }
 
}
@media (max-width:360px)
{
    .inside-content{     
        margin:14px;
        width: 330px;
        height: 900px;
    }
 
}

