@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    background: #dde1e7;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
.back{
	background-color: rgb(60, 60, 94);
	padding: 7px;
}
.inside-holder h1{
	font-size: 18px;
	margin-top: 10px;
	padding: 5px;
	color: rgb(60, 60, 94);
}
.inside-holder p{
	padding: 4px;
	font-size: 14px;
	line-height: 1.7;
}
.inside-holder{
	box-shadow: inset 2px 2px 5px #babecc,
    inset -5px -5px 10px #ffffff73;
	padding: 10px;
}
.back a{
	color: #dde1e7;
	font-size: 28px;
}
@media (max-width:858px)
{
    

}